<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="header-weight">Sample App with ion-datetime component</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input id="date" label="Select a date from future" placeholder="Select Date"
      [value]="selectedDate ? formatDate(selectedDate) : ''" aria-label="Select a future date"></ion-input>
    <ion-popover trigger="date" aria-label="Date selection popover">
      <ng-template>
        <ion-datetime presentation="date" locale="en-US" [min]="minDateStr" #datePicker [yearValues]="yearRange"
          [presentation]="'date'" [(ngModel)]="selectedDate" aria-live="polite">
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-button expand="full" (click)="onSubmit()" aria-label="Submit date selection">Submit</ion-button>

  <ion-list *ngIf="displayedDates" aria-live="polite">
    <ion-item>
      <ion-label>
        <strong>Today:</strong>
        <span> {{ displayedDates.today | date: 'fullDate' }}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>Yesterday:</strong>
        <span> {{ displayedDates.yesterday | date: 'fullDate' }}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>10 Days Past Selected Date:</strong>
        <span> {{ displayedDates.tenDaysPast | date: 'fullDate' }}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>1 Year Past Selected Date:</strong>
        <span> {{ displayedDates.oneYearPast | date: 'fullDate' }}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>